{%extends 'base.html'%}
{%block content%}
    <div >
        <table style="align-items: center;">
            <thead>
                <tr>
                    <th>N Serial</th>
                    <th>Activo Fijo</th>
                    <th>Año ingreso</th>
                    <th>Año baja</th>
                    <th>ubicacion</th>
                    <th>Estado</th>
                    {% if perms.carritos %}
                    <th>Contenido</th>
                    {% endif %}
                    
                </tr>
            </thead>
            <tbody>
                {%for c in carros%}
                <tr>
                    <td>{{c.serial}}</td>
                    <td>{{c.activo_fijo}}</td>
                    <td>{{c.año_entrada}}</td>
                    <td>{{c.año_baja}}</td>
                    <td>{{c.ubicacion}}</td>
                    <td>{{c.estado}}</td>
                    <td><a href="contenido/{{c.serial}}" class="btn btn-primary mb-3">ver</a></td>
                    
                </tr> 
                {%endfor%}
            </tbody>
          </table>
    </div>
    {%endblock%}