{%extends 'base.html'%}
{%block content%}

    <form method="POST" class="row g-3"> {% csrf_token %}
        <div class="col-auto">
        <h5>Seleccione la nueva ubicacion</h5>
        </div>
        <div class="col-auto">
        <input type="text" class="form-control" name="ubi" placeholder="314">
        </div>
        <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Editar</button>
        </div>
    </form>
    
    <div >
        
        <table style="align-items: center;">
            <thead>
                <tr>
                    <th>N Serial</th>
                    <th>Activo Fijo</th>
                    <th>fecha cambio</th>
                    <th>ubicacion</th>
                    <th>imagen</th>
                </tr>
            </thead>
            <tbody>
                
                {%for h in historico%}
                <tr>
                    <td>{{h.serial}}</td>
                    <td>{{h.activo_fijo}}</td>
                    <td>{{h.fecha}}</td>
                    <td>{{h.ubicacion}}</td>
                    <td><img src="{{h.serial}}.png" alt="{{h.serial}}"></td>
                    
                </tr> 
                {%endfor%}
            </tbody>
          </table>
    </div>
{%endblock%}