{%extends 'base.html'%}
{%block content%}
    <div>
        <form action="/buscar/" method="POST">{%csrf_token%}
            <input type="text" name="" id="texto_b">
            <input type="button" value="buscar" >
        </form>
    </div>
    <br>
    <div >
        <table style="align-items: center;">
            <thead>
                <tr>
                    <th>N Serial</th>
                    <th>Activo Fijo</th>
                    <th>Año ingreso</th>
                    <th>Año baja</th>
                    <th>ubicacion</th>
                    <th>Estado</th>
                    {% if request.user.is_authenticated %}
                    <th>Contenido</th>
                    <th>Historico</th>
                    {% endif %}
                    
                </tr>
            </thead>
            <tbody>
                {%for c in carros%}
                <tr>
                    <td>{{c.serial}}</td>
                    <td>{{c.activo_fijo}}</td>
                    <td>{{c.año_entrada}}</td>
                    <td>{{c.año_baja}}</td>
                    <td>{{c.ubicacion}}</td>
                    <td>{{c.estado}}</td>
                    {% if request.user.is_authenticated %}
                    <td><button><a href="contenido/{{c.serial}}">ver</a></button></td>
                    <td><button><a href="historico/{{c.serial}}">ver</a></button></td>
                    {% endif %}
                </tr> 
                {%endfor%}
            </tbody>
          </table>
          <a href="login">click</a>
    </div>
    {%endblock%}